<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update User</title>
</head>
<body>
    <h2>Update User Form</h2>
    <form th:action="@{/admin/saveUser}" th:object="${user}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <label>Name:</label>
        <input type="text" th:field="*{name}" required/><br/>
        <!-- Username Field -->
        <label>Username:</label>
        <input type="text" th:field="*{username}" required/><br/>

        <!-- Password Field -->
        <label>Password:</label>
        <input type="password" name="password" placeholder="Leave blank to keep current password"/><br/>
        <label>Current Profile Picture:</label>
        <div th:if="${user.profilePicturePath}">
            <img th:src="@{'/uploads/' + ${user.profilePicturePath}}" width="100"/><br/>
        </div>
        <div th:unless="${user.profilePicturePath}">
            <p>No profile picture uploaded.</p>
        </div>
        
        <label>Upload New Profile Picture:</label>
        <input type="file" name="profilePicture" accept="image/*"/><br/>
        <input type="date" th:field="*{dateOfBirth}"/><br/>
        <label>Gender:</label>
        <input type="radio" th:field="*{gender}" value="Male"/> Male
        <input type="radio" th:field="*{gender}" value="Female"/> Female<br/>
        <label>Age Group:</label>
        <select th:field="*{ageGroup}">
            <option value="Over 18">Over 18</option>
            <option value="Under 18">Under 18</option>
        </select><br/>
         <!-- Role Field -->
         <label>Role:</label>
         <select th:field="*{role}">
             <option value="ADMIN">Admin</option>
             <option value="USER">User</option>
         </select><br/>
        <button type="submit">Submit</button>
    </form>
</body>
