<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotels List</title>
</head>
<body>
    <h2>Hotels List</h2>
    <a th:href="@{/admin/hotels/new}">Add New Hotel</a>
    <table>
        <thead>
            <tr>
                <th>Hotel Name</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="hotel : ${hotels}">
                <td th:text="${hotel.name}"></td>
                <td th:text="${hotel.location}"></td>
                <td>
                    <a th:href="@{/admin/hotels/edit/{id}(id=${hotel.id})}">Edit</a>
                    <a th:href="@{/admin/hotels/delete/{id}(id=${hotel.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>