<div class="sidebar">
    <div class="logo">Arden Hotel</div>
    <a th:href="@{/hotel/dashboard}">Dashboard</a>
    <a th:href="@{/hotel/rooms}">Manage Rooms</a>
    <a th:href="@{/hotel/bookinglistHotel}">View Bookings</a>
    <a th:href="@{/hotel/experiences}">Manage Experience</a>
    <a th:href="@{/hotel/bookingExperiencelistHotel}">View Experience Bookings</a>
    <a th:href="@{/hotel/tourists}">Manage Tourist</a>
    <a th:href="@{/hotel/profile}">View Profile</a>
    <a th:href="@{/hotel/change-password}">Change Password</a>
    <a th:href="@{/logout}">Logout</a>
</div>